# <font color='violet'> Data Wrangling
 
Here, I'll use SQL to do initial exploration and cleaning of data from Fires, which is the only table in the database wildfire.sqlite

In [1]:
# ! pip install ipython-sql

In [2]:
# Prepare to access the database
%load_ext sql

In [3]:
%sql sqlite:///wildfire.sqlite

In [4]:
%%sql
-- Test out to see if I can read something from the table 
SELECT *
  FROM Fires
 LIMIT 5;

 * sqlite:///wildfire.sqlite
Done.

[(1, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xc8\\xce\\n[_@^\\xc0\\xe8C|l\\xba\\x04D@\\xc8\\xce\\n[_@^\\xc0\\xe8C|l\\xba\\x04D@|\\x01\\x00\\x00\\x00\\xc8\\xce\\n[_@^\\xc0\\xe8C|l\\xba\\x04D@\\xfe'", 1, 'FS-1418826', 'FED', 'FS-FIRESTAT', 'FS', 'USCAPNF', 'Plumas National Forest', '0511', 'Plumas National Forest', '1', 'PNF-47', 'BJ8K', 'FOUNTAIN', '', '', '', '', '', 2005, '2/2/2005', 33, '1300', 'Human', 'Power generation/transmission/distribution', '', '2/2/2005', '33', '1730', 0.1, 'A', 40.03694444, -121.00583333, 'USFS', 'CA', '63', '06063', 'Plumas County'),
 (2, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xc8\\xe594\\xe2\\x19^\\xc0\\xa0\\xe4\\xc51nwC@\\xc8\\xe594\\xe2\\x19^\\xc0\\xa0\\xe4\\xc51nwC@|\\x01\\x00\\x00\\x00\\xc8\\xe594\\xe2\\x19^\\xc0\\xa0\\xe4\\xc51nwC@\\xfe'", 2, 'FS-1418827', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '13', '13', 'AAC0', 'PIGEON', '', '', '', '', '', 2004, '5/12/2004', 133, '0845', 'Natural', 'Natural', '', '5/12/2004', '133', '1530', 0.25, 'A', 38.93305556, -120.40444444, 'USFS', 'CA', '61', '06061', 'Placer County'),
 (3, "b'\\x00\\x01\\xad\\x10\\x00\\x00x{\\xac \\x13/^\\xc0@\\xf2\\x03\\x01\\xf9}C@x{\\xac \\x13/^\\xc0@\\xf2\\x03\\x01\\xf9}C@|\\x01\\x00\\x00\\x00x{\\xac \\x13/^\\xc0@\\xf2\\x03\\x01\\xf9}C@\\xfe'", 3, 'FS-1418835', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '27', '021', 'A32W', 'SLACK', '', '', '', '', '', 2004, '5/31/2004', 152, '1921', 'Human', 'Debris and open burning', '', '5/31/2004', '152', '2024', 0.1, 'A', 38.98416667, -120.73555556, 'STATE OR PRIVATE', 'CA', '17', '06017', 'El Dorado County'),
 (4, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xc8\\x13u\\xd7s\\xfa]\\xc0\\xf8\\xdbg\\x9a\\x92GC@\\xc8\\x13u\\xd7s\\xfa]\\xc0\\xf8\\xdbg\\x9a\\x92GC@|\\x01\\x00\\x00\\x00\\xc8\\x13u\\xd7s\\xfa]\\xc0\\xf8\\xdbg\\x9a\\x92GC@\\xfe'", 4, 'FS-1418845', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '43', '6', '', 'DEER', '', '', '', '', '', 2004, '6/28/2004', 180, '1600', 'Natural', 'Natural', '', '7/3/2004', '185', '1400', 0.1, 'A', 38.55916667, -119.91333333, 'USFS', 'CA', '3', '06003', 'Alpine County'),
 (5, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xd0\\x11y\\xf8\\xb6\\xfb]\\xc0\\xb8\\x01j\\x9a\\x92GC@\\xd0\\x11y\\xf8\\xb6\\xfb]\\xc0\\xb8\\x01j\\x9a\\x92GC@|\\x01\\x00\\x00\\x00\\xd0\\x11y\\xf8\\xb6\\xfb]\\xc0\\xb8\\x01j\\x9a\\x92GC@\\xfe'", 5, 'FS-1418847', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '44', '7', '', 'STEVENOT', '', '', '', '', '', 2004, '6/28/2004', 180, '1600', 'Natural', 'Natural', '', '7/3/2004', '185', '1200', 0.1, 'A', 38.55916667, -119.93305556, 'USFS', 'CA', '3', '06003', 'Alpine County')]

In [5]:
%%sql
-- Remove obviously irrelevant rows. 
-- I'm not finding any way to drop multiple columns at once with sqlite.
ALTER TABLE Fires
DROP COLUMN Shape

 * sqlite:///wildfire.sqlite
Done.

[]

In [6]:
%%sql
ALTER TABLE Fires
DROP COLUMN FPA_ID

 * sqlite:///wildfire.sqlite
Done.

[]

In [7]:
%%sql
ALTER TABLE Fires
DROP COLUMN SOURCE_SYSTEM_TYPE

 * sqlite:///wildfire.sqlite
Done.

[]

In [8]:
%%sql
ALTER TABLE Fires
DROP COLUMN SOURCE_SYSTEM

 * sqlite:///wildfire.sqlite
Done.

[]

In [9]:
%%sql
ALTER TABLE Fires
DROP COLUMN NWCG_REPORTING_AGENCY

 * sqlite:///wildfire.sqlite
Done.

[]

In [10]:
%%sql
ALTER TABLE Fires
DROP COLUMN ICS_209_PLUS_INCIDENT_JOIN_ID

 * sqlite:///wildfire.sqlite
Done.

[]

In [11]:
%%sql
ALTER TABLE Fires
DROP COLUMN ICS_209_PLUS_COMPLEX_JOIN_ID

 * sqlite:///wildfire.sqlite
Done.

[]

In [12]:
%%sql
ALTER TABLE Fires
DROP COLUMN MTBS_ID

 * sqlite:///wildfire.sqlite
Done.

[]

In [13]:
%%sql
-- Check out the table again .
SELECT *
  FROM Fires
 LIMIT 5;

 * sqlite:///wildfire.sqlite
Done.

[(1, 1, 'USCAPNF', 'Plumas National Forest', '0511', 'Plumas National Forest', '1', 'PNF-47', 'BJ8K', 'FOUNTAIN', '', '', 2005, '2/2/2005', 33, '1300', 'Human', 'Power generation/transmission/distribution', '', '2/2/2005', '33', '1730', 0.1, 'A', 40.03694444, -121.00583333, 'USFS', 'CA', '63', '06063', 'Plumas County'),
 (2, 2, 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '13', '13', 'AAC0', 'PIGEON', '', '', 2004, '5/12/2004', 133, '0845', 'Natural', 'Natural', '', '5/12/2004', '133', '1530', 0.25, 'A', 38.93305556, -120.40444444, 'USFS', 'CA', '61', '06061', 'Placer County'),
 (3, 3, 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '27', '021', 'A32W', 'SLACK', '', '', 2004, '5/31/2004', 152, '1921', 'Human', 'Debris and open burning', '', '5/31/2004', '152', '2024', 0.1, 'A', 38.98416667, -120.73555556, 'STATE OR PRIVATE', 'CA', '17', '06017', 'El Dorado County'),
 (4, 4, 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '43', '6', '', 'DEER', '', '', 2004, '6/28/2004', 180, '1600', 'Natural', 'Natural', '', '7/3/2004', '185', '1400', 0.1, 'A', 38.55916667, -119.91333333, 'USFS', 'CA', '3', '06003', 'Alpine County'),
 (5, 5, 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '44', '7', '', 'STEVENOT', '', '', 2004, '6/28/2004', 180, '1600', 'Natural', 'Natural', '', '7/3/2004', '185', '1200', 0.1, 'A', 38.55916667, -119.93305556, 'USFS', 'CA', '3', '06003', 'Alpine County')]

In [12]:
%%sql 
-- Get a sense of how many values in various columns
SELECT COUNT(DISTINCT NWCG_REPORTING_UNIT_ID) AS distinct_nwcg_id,       
       COUNT(DISTINCT NWCG_REPORTING_UNIT_NAME) AS distinct_nwcg_name,       
       COUNT(DISTINCT SOURCE_REPORTING_UNIT) AS distinct_source_id,       
       COUNT(DISTINCT SOURCE_REPORTING_UNIT_NAME) AS distinct_source_name,       
       COUNT(DISTINCT LOCAL_FIRE_REPORT_ID) AS distinct_report_id,       
       COUNT(DISTINCT LOCAL_INCIDENT_ID) AS distinct_incident_id,       
       COUNT(DISTINCT FIRE_CODE) AS distinct_fire_code,    
       COUNT(DISTINCT FIRE_NAME) AS distinct_fire_name,       
       COUNT(DISTINCT MTBS_FIRE_NAME) AS distinct_mtbs_name,       
       COUNT(DISTINCT MTBS_FIRE_NAME) AS distinct_mtbs_name,    
       COUNT(DISTINCT COMPLEX_NAME) AS distinct_complex_name,    
       COUNT(DISTINCT FIRE_YEAR) AS distinct_year,    
       COUNT(DISTINCT DISCOVERY_DATE) AS distinct_date,    
       COUNT(DISTINCT DISCOVERY_DOY) AS distinct_doy,    
       COUNT(DISTINCT DISCOVERY_TIME) AS distinct_time,    
       COUNT(DISTINCT NWCG_CAUSE_CLASSIFICATION) AS distinct_cause_class,    
       COUNT(DISTINCT NWCG_GENERAL_CAUSE) AS distinct_gen_cause,    
       COUNT(DISTINCT NWCG_CAUSE_AGE_CATEGORY) AS distinct_age,    
       COUNT(DISTINCT CONT_DATE) AS distinct_containment,    
       COUNT(DISTINCT FIRE_SIZE) AS distinct_size,
       COUNT(DISTINCT STATE) AS distinct_state,
       COUNT(DISTINCT FIPS_NAME) AS distinct_county
  FROM Fires;

 * sqlite:///wildfire.sqlite
Done.

[(2143, 2105, 6288, 5203, 17611, 950105, 230077, 701435, 10010, 10010, 1535, 29, 10593, 366, 1441, 3, 13, 2, 10597, 18559, 52, 1806)]

In [16]:
%%sql
-- Count null values in each column. I found that sqlite doesn't pick up null values.
-- Need to find where the value = ''. Start with the three columns associated with county.
SELECT COUNT(*)
  FROM Fires
 WHERE FIPS_NAME = '' AND FIPS_CODE = '' AND COUNTY = '';

 * sqlite:///wildfire.sqlite
Done.

[(665779,)]

In [4]:
%%sql
-- How many rows are missing latitude/longitude?
SELECT COUNT(*)
  FROM Fires
 WHERE LATITUDE = '' OR LONGITUDE = '';

 * sqlite:///wildfire.sqlite
Done.

[(0,)]

In [5]:
%%sql
-- Another key feature is date
SELECT COUNT(*)
  FROM Fires
 WHERE DISCOVERY_DATE = '' AND DISCOVERY_DOY = '';

 * sqlite:///wildfire.sqlite
Done.

[(0,)]

In [8]:
%%sql
SELECT COUNT(*)
  FROM Fires
 WHERE CONT_DATE = '' AND CONT_DOY = '';

 * sqlite:///wildfire.sqlite
Done.

[(894813,)]

In [9]:
%%sql
-- We know a start date for every fire, but not necessarily an end date
-- For fires where we don't know the end date, do we also not know the county?
SELECT COUNT(*)
  FROM Fires
 WHERE CONT_DATE = '' AND CONT_DOY = '' AND FIPS_NAME = '' AND FIPS_CODE = '' AND COUNTY = '';

 * sqlite:///wildfire.sqlite
Done.

[(319683,)]

In [10]:
%%sql
-- The final key feature of interest is cause
SELECT COUNT(*)
  FROM Fires
 WHERE NWCG_GENERAL_CAUSE = ''

 * sqlite:///wildfire.sqlite
Done.

[(0,)]

About 300k rows have neither an end date nor a county. But all fires have a start date, or rather "discovery date." And all rows have a cause. 

We could either impute location names based on latitude and longitude, or just drop rows with missing values for now and come back later to improve data quantity. 

First, explore and try to delete more columns that may be irrelevant.

In [19]:
%%sql
SELECT COUNT(*)
  FROM Fires
 WHERE NWCG_REPORTING_UNIT_NAME = ''

 * sqlite:///wildfire.sqlite
Done.

[(0,)]

In [20]:
%%sql
-- Since all nwcg reporting unit names are present, no need for the IDs
ALTER TABLE Fires
DROP COLUMN NWCG_REPORTING_UNIT_ID

 * sqlite:///wildfire.sqlite
Done.

[]

In [21]:
%%sql
-- Check out the same for source reporting unit
SELECT COUNT(*)
  FROM Fires
 WHERE SOURCE_REPORTING_UNIT_NAME = ''

 * sqlite:///wildfire.sqlite
Done.

[(0,)]

In [22]:
%%sql
ALTER TABLE Fires
DROP COLUMN SOURCE_REPORTING_UNIT

 * sqlite:///wildfire.sqlite
Done.

[]

In [23]:
%%sql
-- Probably don't need both nwcg reporting unit and source reporting unit names
-- But at least one of them may be useful in narrowing down location/county
-- Are these columns identical? If not, how do they differe?
SELECT COUNT(*)
  FROM Fires
 WHERE SOURCE_REPORTING_UNIT_NAME <> NWCG_REPORTING_UNIT_NAME

 * sqlite:///wildfire.sqlite
Done.

[(1011140,)]

In [25]:
%%sql
-- There are lots of rows where these are not the same. Check out some of them. 
SELECT SOURCE_REPORTING_UNIT_NAME, NWCG_REPORTING_UNIT_NAME
  FROM Fires
 WHERE SOURCE_REPORTING_UNIT_NAME <> NWCG_REPORTING_UNIT_NAME
 LIMIT 20

 * sqlite:///wildfire.sqlite
Done.

[('Medicine Bow-Routt National Forest', 'Medicine Bow-Routt National Forests, Thunder Basin National Grassland'),
 ('Pike San Isabel National Forest', 'Pike and San Isabel National Forest'),
 ('Pike San Isabel National Forest', 'Pike and San Isabel National Forest'),
 ('Pike San Isabel National Forest', 'Pike and San Isabel National Forest'),
 ('Uinta National Forest', 'Uinta-Wasatch-Cache National Forest'),
 ('Pike San Isabel National Forest', 'Pike and San Isabel National Forest'),
 ('Custer National Forest', 'Custer Gallatin National Forest'),
 ('Wasatch-Cache-Uinta National Forest', 'Uinta-Wasatch-Cache National Forest'),
 ('Pike San Isabel National Forest', 'Pike and San Isabel National Forest'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas'),
 ('National Forests in Texas', 'National Forests And Grasslands In Texas')]

These aren't identical, but none of the names are different enough that it makes sense to keep both columns.

In [26]:
%%sql
ALTER TABLE Fires
DROP COLUMN NWCG_REPORTING_UNIT_NAME

 * sqlite:///wildfire.sqlite
Done.

[]

In [ ]:
LOCAL_FIRE_REPORT_ID